*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.animation{
    animation: up-down 5s ease-in-out  infinite alternate-reverse both;
}
@keyframes up-down{
    0%{
        transform:rotateZ(10deg);
        
    }
    100%{
        transform: scale(.5);

    }
}